/*-------------------------------------------*\
 
  # CSS GENERALES
   1 • General
    » login block: Imagen de fondo
    » block: Color fondo con transparencia
   2 • Formulario
    » panel
    » login-form
    » forgot

\*-------------------------------------------*/

/*-------------------------------------------*\
    • General
\*-------------------------------------------*/

.login-block {
    background-image: url("../images/bg-01.jpg");
    /* background-color: #444444; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px;
    height: 100vh;
}

.block {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    border: #a0a0a0 solid 1px;
    margin: 0;
}

.block::before {
    content: '';
    display: inline-block;
    /* height: 100%; */
    vertical-align: middle;
    margin-right: 0;
}


/*-------------------------------------------*\
    • Formulario
\*-------------------------------------------*/

.panel h2 {
    color: #444444;
    font-size: 18px;
    margin: 0 0 8px 0;
}

.panel p {
    color: #777777;
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 24px;
}

.login-form .form-control {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
}

.login-form .form-group {
    margin-bottom: 10px;
}

.login-form {
    text-align: center;
}

.forgot a {
    color: #777777;
    font-size: 14px;
    text-decoration: underline;
}

.forgot {
    text-align: left;
    margin-bottom: 30px;
}
