body {
    font-family: 'Lato', sans-serif;
    background-color: #cdcbf01c;
}

.property-img{
    min-height: 200px;
    max-height: 200px;
}

.detail{
    font-size: 13px;
}



/*****/

.property-status {
    position: absolute;
    top: 25px;
    left: 25px;
    color: #ffffff;
    font-size: 10px;
    border-radius: 2px;
    padding: 5px 10px;
    display: block;
}

.property-title > a {
    color: #34495e;
    font-size: 18px;
    font-weight: 800;
    line-height: 28px;
    text-transform: capitalize;
    margin-bottom: 2px;
}

.property-location {
    color: #aaaaaa;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 16px;
}

.property-price {
    color: #337ab7;
    font-size: 30px;
    font-weight: 500;
    display: block;
    line-height: 1;
    margin-bottom: 0;
}